@model IEnumerable<Fabric>
@{
	ViewData["Title"] = "Fabrics";
}

<div class="d-flex justify-content-center">
	<div class="col-8">
		<div class="d-flex flex-row justify-content-between align-items-center">
			<div>
				<h2>Fabrics</h2>
			</div>
			<div class="col-6 text-end">
				<a class="btn btn-success" asp-controller="Fabrics" asp-action="Create"><i class="bi bi-plus-circle"></i>&nbsp;
					Create New Fabric </a>
			</div>
		</div>
		<table class="table table-hover table-striped">
			<thead>
				<tr class="table-dark">
					<th>Name</th>
					<th>Why We Made This</th>
					<th>Stretch</th>
					<th>Anti Billing</th>
					<th>Buttery Soft</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr class="table-active">
						<th>@item.Name</th>
						<td>@item.WhyWeMadeThis</td>
						<td>@item.AntiBilling</td>
						<td>@item.ButterySoft</td>
						<td>@item.Stretch</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
